<div class="container">
	<div class="row my-5">
		<div class="col-6">
			<img src="https://placeholdit.co//i/417x294" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-6">
			<h2><%= @organisation.name %></h2>
			</br>
			<p>TYPE</p>

			<div id="organisation-adress">
				<p class="mb-0">Adress Line, City</p>
				<p>Phone no +12 345 678 90 | @email</p>
			</div>

			<div class="organisation-socials">
				<span>Facebook</span><span class="px-2">|</span>
				<span>LinkedIn</span><span class="px-2">|</span>
				<span>Contact</span>&nbsp;<img src="https://placeholdit.co//i/65x56" class="rounded-circle">
			</div>
		</div>
	</div>
</div>
