<% if field.multiple? %>
  <% if field.files.any? %>
    <ul>
      <%- field.files.each do |file| %>
        <li><%= render 'fields/carrierwave/file', file: file %></li>
      <% end %>
    </ul>
  <% else %>
    <span>No file(s) uploaded yet</span>
  <% end %>
<% else %>
  <% if field.resource.send("#{field.attribute}?") %>
    <%= render 'fields/carrierwave/preview', file: field.file, field: field %>
  <% elsif field.file.present? %>
    <%= render 'fields/carrierwave/file', file: field.file %>
  <% else %>
      -
  <% end %>
<% end %>
