<!DOCTYPE html>
<html>
  <head>
    <title>Wethecity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'admin/devise', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container devise-admin-panel">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
