<%= form_tag projects_path, class: "form-inline", method: :get do %>
  <%= text_field_tag(:q, nil, class: "form-control", value: params[:q]) %>

  <button type="submit" class="search-btn btn btn-flat">Search</button>
<% end %>
