<<<<<<< HEAD
/*
*= require bootstrap-sass
*= require_self
*/


@import 'bootstrap-datepicker';

.devise-admin-panel {
  max-width: 350px;

  .checkbox input[type="checkbox"] {
    margin-left: 4px;
  }

  .radio label, .checkbox label {
    padding-left: 25px;
  }
}
=======
@import 'bootstrap';
@import 'devise';
>>>>>>> dc987ece45e7c230bec1b091f141273c9cf996e1
