/*
*= require bootstrap-sass
*= require_self
*= require bootstrap-datepicker
*/

.devise-admin-panel {
  max-width: 350px;

  .checkbox input[type="checkbox"] {
    margin-left: 4px;
  }

  .radio label, .checkbox label {
    padding-left: 25px;
  }
}
