@import url("https://fonts.googleapis.com/css?family=Montserrat");

$font-family-base: "Montserrat";

$font-size-base: 1.25rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * .875) !default;
