@import url("https://fonts.googleapis.com/css?family=Montserrat");

$font-family-base: "Montserrat";

$font-size-base: 1.25rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
