<form class="new-project-resource">
  <div>
    <button class="btn btn-success">+ NEED: MEETING PLACE</button>
    <button class="btn btn-warning">- REMOVE/FULFILL</button>
  </div>
  <div>
    <%= text_area :description, class: 'form-control', placeholder: t('projects.new.resources.description.placeholder') %>
  </div>
</form>
