<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field">
  <%= f.select(
    field.attribute.to_s.singularize + '_ids',
    options_from_collection_for_select(field.selectable_options, :id, :name, field.data.map(&:id)),
    {}, multiple: true
  ) %>
</div>