#projects-top {
  .carousel-caption {
    top: 20px;
  }
}

.project-card {
  img {
    opacity: 0.3;
  }

  &:hover {
    img {
      opacity: 0.6;
    }
  }
}

.project-info-header {
  margin: 2rem 2.5rem;

  h1 {
    font-weight: bolder;
  }
}

.project-info-grid {
  display: grid;
  grid-template: "content sidebar";
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 3rem;

  .project-info-content {
    grid-area: content;

    .project-info-multimedia {
      margin-bottom: 2.5rem;
    }

    .project-info-description {
      margin-left: 2.5rem;
    }
  }

  .project-info-sidebar {
    grid-area: sidebar;

    // SHARED
    > *,
    .project-statistics > * {
      margin: 1.5rem auto;
    }

    .project-actions > button.btn,
    .project-social-info > button.btn {
      width: 100%;
    }

    .project-actions {
      > * {
        margin: 1rem auto;
      }
    }

    .project-popularity {
      font-weight: bold;
      font-size: 1.125em;

      .popularity-highlight {
        font-size: 2.5em;
        letter-spacing: .1em;
        padding-right: 2%;
      }
    }

    .progress {
      border-radius: 0;

      .progress-bar {
        width: 42%;
      }
    }
  }
}

.new-project-cover {
  background: lightgrey;
  height: 20rem;
  width: 100%
}
